@import '../../variables';

$text-color: $black;
$card-width: 328px;
$picture-height: 411px;
$bg-card: #fff;

.card {
  background-color: $bg-card;
  border-radius: .5rem;
  box-shadow: 0 4px 4px rgba($true-black, .25);
  margin: 1rem;
  overflow: hidden;
  width: $card-width;

  &:hover {
    box-shadow: 0 8px 8px rgba($true-black, .30);
    transition: box-shadow .3s ease;

    .card-picture {
      background-size: 110%;
      transition: background-size .3s ease;
    }
  }

  @media screen and (max-width: 500px) {
    width: 95%;
  }

  .card-picture {
    background-position: center;
    background-size: 100%;
    height: $picture-height;
  }

  .card-footer {
    padding: 1rem;

    .card-title {
      color: $text-color;
      font-size: 1.1rem;
      font-weight: normal;
      margin-bottom: .5rem;
      margin-top: 0;
    }

    .card-footnote {
      color: $text-color;
      font-size: .875rem;
      font-weight: 200;
      margin-bottom: 0;
    }
  }
}
