$text-color: #333;

.card {
  border-radius: .5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  margin: 1rem;
  max-width: 95%;
  width: 328px;

  .card-picture {
    background-color: #eee;
    height: 411px;
  }

  .card-footer {
    padding: 1rem;

    .cart-title {
      color: $text-color;
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }

    .cart-footer {
      color: $text-color;
      font-size: .875rem;
      font-weight: 300;
    }
  }
}
