@import './variables';

.app {
  background-color: $bg-app;
  color: $black;
  font-family: 'Roboto';
  min-height: calc(100vh - #{$header-height});

  .header + * {
    margin-top: $header-height;
  }
}
